# Игнорировать все файлы журналов (логи), так как они создаются автоматически
# и не относятся к исходному коду проекта
*.log

# Игнорировать скомпилированные библиотеки (.dll),
# так как они являются результатом сборки и могут быть восстановлены
*.dll
